.container{
    margin: 0 auto;
    border: 2px solid black;
    width: 400px;
    height: 200px;
    position: relative;
    top: 50px;
    right: 70px;
}
img{
    width: 400px;
    height: 200px;
}
.box{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
    background-color: coral;
    top: 30px;
    left: 350px;
}
.two{
    width: 800px;
    height: 100px;
    background-color: rgb(168, 160, 160);
    position: relative;
    top: 100px;
    left: 100px;
}
.two div{
    width: 200px;
    height: 200px;
    border: 2px solid aliceblue;
    position: absolute;
    left: 450px;
    bottom: 10px;
}